{% extends "base.html" %}
{% block title %}{{ note.title }}{% endblock %}
{% block content %}
<h1>{{ note.title }}</h1>
<p><i>Категория ID:</i> {{ note.category_id }}</p>
<pre style="white-space: pre-wrap">{{ note.content }}</pre>
<p>
  <a href="{{ url_for('notes_edit_page', note_id=note.id) }}">Изменить</a>
</p>
        <form action="/ui/notes/{{ note.id }}/delete" method="post" style="display: inline;">
            <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить эту заметку?')">
                Удалить
            </button>
</form>
{% endblock %}

